{% assign class = class | default: blank %}
{% assign src = src | default: false %}
{% assign src_mobile = src_mobile | default: false %}
{% assign seo_title = seo_title | default: false %}
{% assign alt = alt | default: false %}
{% assign format = format | default: 'cover' %}

{% capture css %}
  image is-{{ format }} {{ class }}
{% endcapture %}

{% capture attributes %}
  {% if seo_title %}title="{{ seo_title }}"{% endif %} {% if alt %}alt="{{ alt }}"{% endif %}
{% endcapture %}

<div class="{{ css | strip }}" data-module="image">
  {% if src %}
    <img class="image__desktop js-desktop" data-src="{{ src }}" {{ attributes | strip }}>
  {% endif %}
  {% if src_mobile %}
    <img class="image__mobile js-mobile" data-mobile-src="{{ src_mobile }}" {{ attributes | strip }}>
  {% endif %}
</div>

{% assign class = false %}
{% assign src = false %}
{% assign src_mobile = false %}
{% assign seo_title = false %}
{% assign alt = false %}
{% assign format = false %}
{% assign css = false %}
{% assign attributes = false %}
