{% assign class = class | default: blank %}
{% assign src = src | default: false %}
{% assign retina = retina | default: false %}
{% assign srcset = srcset | default: false %}
{% assign seo = seo | default: false %}
{% assign object_fit = object_fit | default: 'cover' %}{% comment %}This makes the assumption that a video & image should always hold the same object-fit values{% endcomment %}
{% assign loader = loader | default: true %}
{% assign video_src = video_src | default: false %}
{% assign autoplay = autoplay | default: true %}
{% assign video_type = video_type | default: 'video/mp4' %}{% comment %}Is there a way for us to automatically determine this?{% endcomment %}
{% assign mute = mute | default: true %}
{% assign loop = loop  | default: true %}

{% capture css %}
{% comment %}ToDo: Replace .img classes with something like .media to remain intuitive{% endcomment %}
  img fit-{{ object_fit }} {{ class }} {% if video %} video{% endif %}
{% endcapture %}

{% capture attributes %}
  {% if seo %}title="{{ seo | strip }}" alt="{{ seo | strip }}"{% endif %}
{% endcapture %}

<div class="{{ css | strip }}" data-module="image">
  <noscript>
    <img class="img__el is-fallback" src="{{ src | strip }}" {{ attributes | strip }}>
  </noscript>
  {% if loader %}
    <i class="img__loader"></i>
  {% endif %}
  <img class="img__el" data-js-class="img__el" data-normal="{{ src | strip }}" {% if retina %}data-retina="{{ retina | strip }}"{% endif %} {% if srcset %}data-srcset="{{ srcset | strip }}"{% endif %} {{ attributes | strip }}>
  {% if video_src %}
    <video class="img__el" data-js-class="img__el" autoplay="{{ autoplay }}" loop="{{ loop }}" muted="{{ mute }}" playsinline src="{{ video_src }}">{% comment %}ToDo: Add lazy-loading capabilities for video{% endcomment %}
    </video>
  {% endif %}
</div>

{% assign class = false %}
{% assign src = false %}
{% assign retina = false %}
{% assign srcset = false %}
{% assign seo = false %}
{% assign object_fit = false %}
{% assign loader = loader | default: true %}
{% assign css = false %}
{% assign attributes = false %}
{% assign video_src = false %}
{% assign autoplay = false %}
{% assign video_type = false %}
{% assign mute = false %}
