{% assign class = class | default: blank %}
{% assign src = src | default: false %}
{% assign seo = seo | default: false %}
{% assign objectFit = objectFit | default: 'cover' %}

{% capture css %}
  img fit-{{ objectFit }} {{ class }}
{% endcapture %}

{% capture attributes %}
  {% if seo %}title="{{ seo }}" alt="{{ seo }}"{% endif %}
{% endcapture %}

<div class="{{ css | strip }}" data-module="image">
  <i class="img__loader"></i>
  <img class="img__el" data-srcset="{{ src }}" {{ attributes | strip }}>
  <noscript>
    <img class="img__el" {{ attributes | strip }}>
  </noscript>
</div>

{% assign class = false %}
{% assign src = false %}
{% assign seo = false %}
{% assign objectFit = false %}
{% assign css = false %}
{% assign attributes = false %}
