<div id="{{form_outer_id}}" class="address__form relative w1 {{form_classes}}" style="display: none;">

  {% form 'customer_address', form_action %}

    {% assign form_id = form.id %}
    {% capture form_script %}{% if form_id == 'new' %}Shopify.CustomerAddress.toggleNewForm(); return false;{% else %}Shopify.CustomerAddress.toggleForm({{form_id}}); return false;{% endif %}{% endcapture %}
    {% capture form_suffix %}{% if form_id and form_id != 'new' %}_{{form_id}}{% endif %}{% endcapture %}

    {% capture form_city_id %}{% if form_id == 'new' %}AddressCityNew{% else %}AddressCity{% endif %}{% endcapture%}
    {% capture form_country_id %}{% if form_id == 'new' %}AddressCountryNew{% else %}AddressCountry{% endif %}{% endcapture%}
    {% capture form_province_container_id %}{% if form_id == 'new' %}AddressProvinceContainerNew{% else %}AddressProvinceContainer{% endif %}{% endcapture%}
    {% capture form_province_id %}{% if form_id == 'new' %}AddressProvinceNew{% else %}AddressProvince{% endif %}{% endcapture%}

    <h4>{{form_title}}</h4>

    <div class="address__form__group flex flex-wrap flex-justify">
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="AddressFirstNameNew{{form_suffix}}" class="inline-block mb0 pl1 pr05">First Name:</label>
          <input id="AddressFirstNameNew{{form_suffix}}" class="flex-auto" type="text" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
        </span>
      </p>
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="AddressLastNameNew{{form_suffix}}" class="inline-block mb0 pl1 pr05">Last Name:</label>
          <input id="AddressLastNameNew{{form_suffix}}" class="flex-auto" type="text" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
        </span>
      </p>
    </div>

    <div class="address__form__group flex flex-wrap flex-justify">
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="AddressCompanyNew{{form_suffix}}" class="inline-block mb0 pl1 pr05">Company:</label>
          <input id="AddressCompanyNew{{form_suffix}}" class="flex-auto" type="text" name="address[company]" value="{{form.company}}" autocapitalize="words">
        </span>
      </p>
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="AddressPhoneNew{{form_suffix}}" class="inline-block mb0 pl1 pr05">Phone:</label>
          <input id="AddressPhoneNew{{form_suffix}}" class="flex-auto" type="tel" name="address[phone]" value="{{form.phone}}">
        </span>
      </p>
    </div>

    <div class="address__form__group flex flex-wrap flex-justify">
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="AddressAddress1New{{form_suffix}}" class="inline-block mb0 pl1 pr05">Address1:</label>
          <input id="AddressAddress1New{{form_suffix}}" class="flex-auto" type="text" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
        </span>
      </p>
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="AddressAddress2New{{form_suffix}}" class="inline-block mb0 pl1 pr05">Address2:</label>
          <input id="AddressAddress2New{{form_suffix}}" class="flex-auto" type="text" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
        </span>
      </p>
    </div>

    <div class="address__form__group flex flex-wrap flex-justify">
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="{{form_city_id}}{{form_suffix}}" class="inline-block mb0 pl1 pr05">City:</label>
          <input id="{{form_city_id}}{{form_suffix}}" class="flex-auto" type="text" name="address[city]" value="{{form.city}}" autocapitalize="words">
        </span>
      </p>
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="{{form_country_id}}{{form_suffix}}" class="inline-block mb0 pl1 pr05">Country:</label>
          <span class="select-wrapper flex-auto">
            <select id="{{form_country_id}}{{form_suffix}}" class="w1" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
          </span>
        </span>
      </p>
    </div>

    <div class="address__form__group flex flex-wrap flex-justify">
      <p class="address__form__field flex-auto">
      <span id="{{form_province_container_id}}{{form_suffix}}" class="prefixed-input flex items-center" style="display:none">
          <label for="{{form_province_id}}{{form_suffix}}" class="inline-block mb0 pl1 pr05">Province:</label>
          <span class="select-wrapper flex-auto">
            <select id="{{form_province_id}}{{form_suffix}}" class="w1" name="address[province]" data-default="{{ form.province }}">{{ country_option_tags }}</select>
          </span>
        </span>
      </p>
      <p class="address__form__field flex-auto">
        <span class="prefixed-input flex items-center">
          <label for="AddressZipNew{{form_suffix}}" class="inline-block mb0 pl1 pr05">Zip:</label>
          <input id="AddressZipNew{{form_suffix}}" class="flex-auto" type="text" name="address[zip]" value="{{form.zip}}" autocapitalize="words">
        </span>
      </p>
    </div>

    <p>
      <label for="address_default_address_new{{form_suffix}}" class="checkbox mr05">
        {{ form.set_as_default_checkbox }}
        Set as default address
      </label>
    </p>

    <p class="pt1">
      <button type="submit" class="button">{{form_cta}}</button> 
      <a href="#0" class="ml1 underline" onclick="{{form_script}}">Cancel</a>
    </p>

  {% endform %}

</div>

{% assign form_id = false %}
{% assign form_classes = '' %}
