<!-- /snippets/partials/header.liquid -->

<header class="header">
    <div class="header__container container-full">
        {% if settings.logo_use_image %}
            <a class="main-logo" href="{{ shop.url }}">
                <img class="main-logo__img" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
            </a>
        {% else %}
            <a class="main-logo" href="{{ shop.url }}">{{ shop.name }}</a>
        {% endif %}

        <nav class="main-nav">
            <ul class="main-nav__list">
                {% for link in linklists.main-menu.links %}
                    {% assign child_list_handle = link.title | handleize %}

                    {% if linklists[child_list_handle].links != blank %}
                        <li class="main-nav__item main-nav__item--has-sub {% if link.active %}main-nav__item--active{% endif %}">
                            <a class="main-nav__link" href="{{ link.url }}">{{ link.title }} </a>
                            <ul class="main-nav-sub__list">
                                {% for childlink in linklists[child_list_handle].links %}
                                    <li class="main-nav-sub__item {% if childlink.active %}main-nav-sub__item--active{% endif %}">
                                        <a class="main-nav-sub__link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="main-nav__item {% if link.active %}main-nav__item--active{% endif %}">
                            <a class="main-nav__link" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </nav>

        <a class="mobile-burger">
            <i class="mobile-burger__icon"></i>
        </a>

        <nav class="user-nav">
            <ul class="user-nav__list">
                <li class="user-nav__item">
                    <a class="user-nav__link user-nav__search-link">{{ 'general.search.submit' | t }}</a>
                </li>
                <li class="user-nav__item {% if shop.customer_accounts_enabled %}user-nav__item--has-sub{% endif %}">
                    {% if shop.customer_accounts_enabled %}
                        {% if customer %}
                            <a class="user-nav__link" href="/account">Your {{ 'layout.customer.account' | t }}</a>
                            <ul class="user-nav-sub__list">
                                <li class="user-nav-sub__item">
                                    <a class="user-nav-sub__link" href="/account">Your {{ 'layout.customer.account' | t }}</a>
                                </li>
                                <li class="user-nav-sub__item">
                                    <a class="user-nav-sub__link" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
                                </li>
                            </ul>
                        {% else %}
                            <a class="user-nav__link" href="/account/login">{{ 'layout.customer.log_in' | t }}</a>
                        {% endif %}
                    {% endif %}
                </li>
                <li class="user-nav__item">
                    <a class="user-nav__link" href="/cart">
                        {{ 'layout.cart.title' | t }} ({{ cart.item_count }})
                    </a>
                </li>
            </ul>
        </nav>

        <a class="mobile-cart" href="/cart">
            <i class="mobile-cart__icon"></i>
        </a>

    </div>
</header>
