<!-- /snippets/input-text.liquid -->

{% comment %}
    Reusable text field snippet.
{% endcomment %}

{% assign label = label | default: false %}
{% assign name = name | default: false %}
{% assign type = type | default: 'text' %}
{% assign value = value | default: false %}
{% assign autocorrect = autocorrect | default: false %}
{% assign autocapitalize = autocapitalize | default: false %}

{% if label and name %}
    <div class="input-group">
        <span class="block{% if form.errors %} has-error{% endif %}">
            <label for="{{ name }}" class="block">{{ label }}:</label>
            <input class="block w1" type="{{ type }}" name="{{ name }}" autocorrect="{{ autocorrect }}" autocapitalize="{{ autocapitalize }}" {% if value %}value="{{ value }}{% endif %}">
        </span>
    </div>
{% else %}
    <p class="italic bold">Whoops! Looks like you missed a value for this field :)</p>
{% endif %}
