{% comment %}
  Reusable text field snippet.

  Requires:
  field_name typeof string
  field_label typeof string 

  Defaults:
  field_type default 'text'
  field_value default ''
  field_autocorrect default false
  field_autocapitalize default false
{% endcomment %}

{% comment %}
  Assign defaults if now values are given
{% endcomment %}
{% unless field_type %}
  {% assign field_type = 'text' %}
{% endunless %}
{% unless field_value %}
  {% assign field_value = '' %}
{% endunless %}
{% unless field_autocorrect %}
  {% assign field_autocorrect = false %}
{% endunless %}
{% unless field_autocapitalize %}
  {% assign field_autocapitalize = false %}
{% endunless %}
{% unless field_classes %}
  {% assign field_classes = false %}
{% endunless %}

{% if field_label and field_name %}
  <p {% if field_classes %}class="{{field_classes}}"{% endif %}>
    <span class="block{% if form.errors %} has-error{% endif %}">
      <label for="{{field_name}}" class="block">{{field_label}}:</label>
      <input class="block w1" type="{{field_type}}" name="customer[{{field_name}}]" autocorrect="{{field_autocorrect}}" autocapitalize="{{field_autocapitalize}}" value="{{field_value}}">
    </span>
  </p>
{% else %}
  <p class="italic bold">Whoops! Looks like you missed a value for this field :)</p>
{% endif %}

{% comment %}
  Reset values to false 
{% endcomment %}
{% assign field_label = false %}
{% assign field_name = false %}
{% assign field_type = false %}
{% assign field_value = false %}
{% assign field_autocorrect = false %}
{% assign field_autocapitalize = false %}
