{% comment %}
  Reusable text field snippet.

  Requires:
  field_name typeof string
  field_label typeof string 

  Defaults:
  field_type default 'text'
  field_value default ''
  field_autocorrect default false
  field_autocapitalize default false
{% endcomment %}

{% comment %} Set default values to false {% endcomment %}
{% assign field_name = field_name | default: false %}
{% assign field_label = field_label | default: false %}
{% assign field_type = field_type | default: 'text' %}
{% assign field_value = field_value | default: '' %}
{% assign field_autocorrect = field_autocorrect | default: false %}
{% assign field_autocapitalize = field_autocapitalize | default: false %}
{% assign field_placeholder = field_placeholder | default: '' %}

{% if field_label and field_name %}
  <p class="{{field_classes}}">
    <span class="block">
      <label for="{{field_name}}" class="block">{{field_label}}</label>
      <input class="block w1" 
        type="{{field_type}}" 
        name="{{field_name}}" 
        placeholder="{{field_placeholder}}"
        autocorrect="{{field_autocorrect}}" 
        autocapitalize="{{field_autocapitalize}}" 
        value="{{field_value}}"/>
    </span>
  </p>
{% else %}
  <p class="italic bold">Whoops! Looks like you missed a value for this field :)</p>
{% endif %}

{% comment %} Reset values to false {% endcomment %}
{% assign field_label = false %}
{% assign field_name = false %}
{% assign field_type = false %}
{% assign field_value = false %}
{% assign field_autocorrect = false %}
{% assign field_autocapitalize = false %}
{% assign field_placeholder = false %}
{% assign has_errors = false %}
{% assign error_message = false %}
