<!-- /snippets/item-counter.liquid -->

{% assign class = class | default: '' %}
{% assign min = min | default: '1' %}
{% assign max = max | default: '9999' %}
{% assign mode = mode | default: 'default' %}

{% case mode %}
	{% when 'cart' %}
		{% assign id = item.id | prepend: 'updates_' %}
		{% assign name = 'updates[]' %}
		{% assign value = item.quantity %}
	{% when 'default' %}
		{% assign id = false %}
		{% assign name = 'quantity' %}
		{% assign value = '1' %}
{% endcase %}

<div class="counter inline-block {{ class }}" data-component="item-counter">
    <button type="button" data-count="-"><span>–</span></button>
	<input type="number" {% if id %}id="{{ id }}"{% endif %} name="{{ name }}" value="{{ value }}" min="{{ min }}" max="{{ max }}">
    <button type="button" data-count="+"><span>+</span></button> 
</div>