<!-- /snippets/product-purchase.liquid -->

{% comment %}
	To display different thumbnails depending on the selected variant, go to "Admin".
	Then for each product image, edit the alt text like below:

		'[option title handleized]-[variant title handleized], [image alt text]'
		
		ex: 'size-30-cm, This is a 30 cm wax candle.'

{% endcomment %}

{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

{{ current_variant.title }}
<div class="product-purchase container--m pv2 mha">

	<div class="product-purchase__preview">
	    <div class="product-purchase__featured" id="ProductPhoto">
	        <img class="__img" id="ProductPhotoImg" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" title="{{ featured_image.alt | escape }}">
	    </div>

	    {% if product.images.size > 1 %}
	        <ul class="product-purchase__thumbnails" id="ProductThumbs">
				{% for option in product.options %}
				    {% assign option_title = option | handleize %}
				    {% for variant in product.variants %}
				        {% if variant == product.selected_or_first_available_variant %}
				            {% assign current_variant = variant.title | handleize | prepend: '-' | prepend: option_title %}
				        {% endif %}
				    {% endfor %}
		            {% for image in product.images %}
                        {% assign image_info = image.alt | escape | split: ',' %}
                        {% assign variant_title = image_info | first | handleize | strip %}
                        {% assign image_alt = image_info | last | strip %}
		                <li class="__item {% if image.src == featured_image %}is-active{% endif %}" {% unless image.alt contains current_variant %}hidden{% endunless %} data-thumbnail="{{ variant_title }}">
		                    <a class="__link" href="{{ image.src | img_url: 'large' }}" title="{{ image_alt }}">
		                        <img class="__img" src="{{ image.src | img_url: 'compact' }}" alt="{{ image_alt }}" title="{{ image_alt }}">
		                    </a>
		                </li>
		            {% endfor %}
				{% endfor %}
	        </ul>
	    {% endif %}
	</div>

    <div class="product-purchase__infos">
        <h1 class="h1" itemprop="name">{{ product.title }}</h1>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            <form action="/cart/add" method="post" enctype="multipart/form-data">
                <span class="select-wrapper w1">
                    <select class="block w1" id="productSelect" name="id">
                        {% for variant in product.variants %}
                            {% if variant.available %}
                                <option value="{{ variant.id }}" data-sku="{{ variant.sku }}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                            		{{ variant.title }} - {{ variant.price | money_with_currency }}
                            	</option>
                            {% else %}
                                <option disabled="disabled">
                                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </span>

                <span>{{ 'products.general.regular_price' | t }}</span>
                <span itemprop="price">
                    {{ current_variant.price | money }}
                </span>

                {% if product.compare_at_price_max > product.price %}
                    <span>{{ 'products.general.sale_price' | t }}</span>
                    <p>{{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}</p>
                {% endif %}

                <label>{{ 'products.product.quantity' | t }}</label>
		        {% include 'item-counter', mode: 'default', max: '10' %}

                <button class="button" type="submit" name="add">{{ 'products.product.add_to_cart' | t }}</button>
            </form>

        </div>

        <div class="product-purchase__description" itemprop="description">
            {{ product.description }}
        </div>
    </div>
</div>

<script type="text/javascript">
    var select = document.getElementById( 'productSelect' );
    var switchVariant = function( id ) {
        window.history.pushState( null, null, '/products/{{ product.handle }}?variant=' + id );
    }

    select.addEventListener( 'change', function() {
        var id = select.options[ select.selectedIndex ].value;

        switchVariant( id );
    } );
</script>