<!-- /snippets/partials/footer.liquid -->

<footer class="footer">
    <div class="footer__container container-wide">
        <ul class="footer__list">
            <li class="footer__item footer__item--logo">

            {% if settings.logo_use_image %}
                <a class="footer-logo" href="{{ shop.url }}">
                    <img class="footer-logo__img" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
                </a>
            {% else %}
                <a class="footer-logo__link" href="{{ shop.url }}">{{ shop.name }}</a>
            {% endif %}

            </li>

            <!-- TO EDIT -->
            <li class="footer__item footer__item-info">
                <ul class="footer-info__list">
                    <li class="footer-info__item">
                        <a class="footer-info__link" href="#">Contact Us</a>
                    </li>
                    <li class="footer-info__item">
                        <a class="footer-info__link" href="#">FAQ</a>
                    </li>
                    <li class="footer-info__item">
                        <a class="footer-info__link" href="#">Shipping & Returns</a>
                    </li>
                    <li class="footer-info__item">
                        <a class="footer-info__link" href="#">Press</a>
                    </li>
                </ul>
            </li>
            <!-- END TO EDIT -->

            {% if settings.footer_social_enable %}
                <li class="footer__item footer__item--social">
                    <h5 class="footer-social__head">{{ 'layout.footer.social_title' | t }}</h5>
                    <ul class="footer-social__list">

                        {% if settings.social_facebook_link != blank %}
                            <li class="footer-social__item">
                                <a class="footer-social__link footer-social__link--facebook" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook"></a>
                            </li>
                        {% endif %}

                        {% if settings.social_twitter_link != blank %}
                            <li class="footer-social__item">
                                <a class="footer-social__link footer-social__link--twitter" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter"></a>
                            </li>
                        {% endif %}

                        {% if settings.social_instagram_link != blank %}
                            <li class="footer-social__item">
                                <a class="footer-social__link footer-social__link--instagram" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram"></a>
                            </li>
                        {% endif %}

                    </ul>
                </li>
            {% endif %}

            {% if settings.footer_newsletter_enable %}
                <li class="footer__item footer__item--newsletter">
                    <h5 class="footer-newsletter__head">{{ 'layout.footer.newsletter_title' | t }}</h5>

                    {% if settings.newsletter_form_action != blank %}
                        <form class="footer-newsletter__form" action="{{ settings.newsletter_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
                            <div class="footer-newsletter__holder">
                                <input class="footer-newsletter__field" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="email" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                                <button class="footer-newsletter__btn" type="submit" name="subscribe">{% comment %}{{ 'general.newsletter_form.submit' | t }}{% endcomment %}</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="footer-newsletter__holder">
                        {% form 'customer', class: 'footer-newsletter__form' %}
                            {% if form.posted_successfully? %}
                                <span class="footer-newsletter__msg--valid">{{ 'general.newsletter_form.confirmation' | t }}</span>
                            {% else %}
                                <input class="footer-newsletter__field" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <button class="footer-newsletter__btn" type="submit" name="subscribe">{% comment %}{{ 'general.newsletter_form.submit' | t }}{% endcomment %}</button>
                            {% endif %}
                            {% if form.errors %}
                                {{ form.errors | default_errors }}
                            {% endif %}
                        {% endform %}
                        </div>
                    {% endif %}

                </li>
            {% endif %}
        </ul>
        
        <!-- TO EDIT -->
        <h6 class="footer-disclaimer">
            © 2016 Barrel Co. Ltd. All Rights Reserved. Terms and Conditions and Privacy Policy.
        </h6>
        <!-- END TO EDIT -->
    </div>
</footer>