<!-- /templates/customers/account.liquid -->

<div class="account container align-c">
    <h2 class="account__head head">{{ 'customer.account.title' | t }}</h2>

    {% include 'account-nav' %}

    <div class="order-history align-l">
        <h3 class="order-history__head">{{ 'customer.orders.title' | t }}</h3>

        <!-- TO EDIT -->
        {% paginate customer.addresses by 2 %}
            <div class="order-history__holder">
                {% if customer.orders.size != 0 %}
                    <table class="table">
                        <thead class="tb__head">
                            <tr class="tb__row-head">
                                <th class="tb__cell-head">{{ 'customer.orders.order_number' | t }}</th>
                                <th class="tb__cell-head">{{ 'customer.orders.date' | t }}</th>
                                <th class="tb__cell-head">{{ 'customer.orders.payment_status' | t }}</th>
                                <th class="tb__cell-head">{{ 'customer.orders.shipping_status' | t }}</th>
                                <th class="tb__cell-head">{{ 'customer.orders.total' | t }}</th>
                            </tr>
                        </thead>
                        <tbody class="tb__body">
                            {% for order in customer.orders %}
                                <tr class="tb__row">
                                    <td class="tb__cell"><a class="order-history__link" href="{{ order.customer_url }}">{{ order.name  }}</a></td>
                                    <td class="tb__cell">{{ order.created_at | date: format: 'month_day_year' }}</td>
                                    <td class="tb__cell">{{ order.financial_status_label }}</td>
                                    <td class="tb__cell">{{ order.fulfillment_status_label }}</td>
                                    <td class="tb__cell">{{ order.total_price | money }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="order-history__none-msg align-c">{{ 'customer.orders.none' | t }}</p>
                {% endif %}
            </div>

            {%include 'pagination' %}
        {% endpaginate %}
    </div>
</div>
