<!-- /templates/customers/account.liquid -->

<div class="account container align-c">
    <h2 class="account__head head">{{ 'customer.account.title' | t }}</h2>

    {% include 'account-nav' %}

    <div class="order-history align-l">
        <h3 class="order-history__head">{{ 'customer.orders.title' | t }}</h3>

        {% paginate customer.orders by 10 %}
            <div class="order-history__holder">
                {% if customer.orders.size != 0 %}
                    <table class="full">
                        <thead>
                            <tr>
                                <th>{{ 'customer.orders.order_number' | t }}</th>
                                <th>{{ 'customer.orders.date' | t }}</th>
                                <th>{{ 'customer.orders.payment_status' | t }}</th>
                                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                                <th>{{ 'customer.orders.total' | t }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in customer.orders %}
                                <tr>
                                    <td>{{ order.name | link_to: order.customer_url }}</td>
                                    <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                                    <td>{{ order.financial_status_label }}</td>
                                    <td>{{ order.fulfillment_status_label }}</td>
                                    <td>{{ order.total_price | money }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="order-history__none-msg align-c">{{ 'customer.orders.none' | t }}</p>
                {% endif %}
            </div>
            {% if paginate.pages > 1 %}
                <div class="pagination">
                    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                </div>
            {% endif %}
        {% endpaginate %}
    </div>
</div>
