{% assign account_page_title = 'My Account' %}
{% include 'account-titles' %}

{% paginate customer.addresses by 50 %}

<section class="outer mv2 pt1">
  <div class="container--m mha">

    {% assign form_outer_id = 'AddAddress' %}
    {% assign form_action = customer.new_address %}
    {% assign form_title = 'Add New Address' %}
    {% assign form_cta = 'Add Address' %}
    {% assign form_classes = 'mb2 pb1' %}

    {% include 'account-address-form' %}

    <div class="relative mb1">
      <h2 class="h3 uppercase">{{ 'customer.addresses.title' | t }}</h2>
      <a href="#0" class="new-address link absolute fit-r fit-t" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">+ Add Address</a>
    </div>

    {% comment %}
      List all customer addresses with a unique edit form.
      Also add pagination in case they have a large number of addresses
    {% endcomment %}
    <div class="mha">
      
      {% for address in customer.addresses %}
        <div class="address w1 mb2">
          <div class="address__inner pv2 ph2 bg-cg025 relative">
            {% if address == customer.default_address %}
              <div class="address__default absolute fit-r bg-c1 cw pv025 ph075 p0">Default</div>
            {% endif %}
            <div class="address__info p">
              {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}<br>
              {% if address.company != '' %}{{ address.company }}<br>{% endif %}
              {{ address.street }}<br>
              {{ address.city | capitalize }}{% if address.province_code %}, {{ address.province_code | upcase }} {% endif %} {{ address.zip | upcase }}<br>
              {{ address.country }}<br>
              {{ address.phone }}
            </div>
            <div class="address__footer mt2 rte cg2 absolute">
              {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
              {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
            </div>
          </div>
        </div>

        {% assign form_outer_id = 'EditAddress' | append: '_' | append: address.id %}
        {% assign form_action = address %}
        {% assign form_title = 'Edit Address' %}
        {% assign form_cta = 'Update Address' %}
        {% assign form_classes = 'mb2 active-top' %}

        {% include 'account-address-form' %}

      {% endfor %}

    </div>

    {% if customer.addresses == empty %}
      <div class="bg-cg1 px2 align-c">
        You have no saved address.
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}
  </div>
</section>

<script>
  // Initialize observers on address selectors
  new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
    hideElement: 'AddressProvinceContainerNew'
  });

  // Setup province selector on each customer address
  {% paginate customer.addresses by 5 %}
    {% for address in customer.addresses %}
      new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
        hideElement: 'AddressProvinceContainer_{{ address.id }}'}
      );
    {% endfor %}
  {% endpaginate %}

  // Modified contents of customer_area.js (global asset)
  Shopify.CustomerAddress = {
    toggleForm: function(id) {
      var editEl = document.getElementById('EditAddress_'+id);
      editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
      return false;
    },

    toggleNewForm: function() {
      var el = document.getElementById('AddAddress');
      el.style.display = el.style.display == 'none' ? '' : 'none';
      return false;
    },

    destroy: function(id, confirm_msg) {
      if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
        Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
      }
    }
  }
</script>

{% endpaginate %}
