<!-- /templates/customers/login.liquid -->

<div class="outer mt2 align-l" data-page="login">

    <div id="login_form" class="account-entry-form mha">
        <h1 class="h2 mb05">{{ 'customer.login.title' | t }}</h1>

        {% form 'customer_login', class: 'mha' %}
            {% include 'input-text', type: 'email', label: 'Email', name: 'customer[email]' %}
                
            {% include 'input-text', type: 'password', label: 'Password', name: 'customer[password]' %}

            {% if form.errors %}
                {% for field in form.errors %}
                    {% if field == 'form' %}
                        <p class="p0 c3 align-c">{{ form.errors.messages[field] }}</p>
                    {% else %}
                        <p class="p0 c3 align-c">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="mt2">
                <button type="submit" class="button">Sign In</button>
            </div>
        {% endform %}

        <p class="mb0">
            <a class="link mt1" id="recovery_link" href="#recover">Forgot your password?</a>
        </p>
        <p>
            <span class="mt1">
                Don't have an account? <a class="block link" href="/account/register">Register now.</a>
            </span>
        </p>
    </div>

    <div id="recover" class="account-entry-form hide mha">
        <h2 class="h2 mb05">Forgot your password?</h2>
        <p>Enter your email and we will send you a password reset link.</p>

        <div class="inline-block">
            {% form 'recover_customer_password', class: 'mha' %}

                {% if form.posted_successfully? %}
                    <span class="mb1 recovery-success">Success! Check your email for a link to reset your password.</span>
                {% else %}
                
                    {% include 'input-text', type: 'email', label: 'Email', name: 'customer[email]' %}

                    {% if form.errors %}
                        {% for field in form.errors %}
                            {% if field == 'form' %}
                                <p class="p0 c3">{{ form.errors.messages[field] }}</p>
                            {% else %}
                                <p class="p0 c3">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}.</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="mt2">
                        <button type="submit" class="button">Reset Password</button>
                    </div>
                {% endif %}

            {% endform %}
        </div>

        <a href="#0" class="link block mt1" id="cancel_recover">Cancel</a>
    </div>

</div>
