<div class="header-spacer"></div>

<div class="outer mt2 align-c" data-page="login">

  <div id="login_form" class="container--s">
    <h1 class="h3 mb05">{{ 'customer.login.title' | t }}</h1>

    {% form 'customer_login', class: 'account-entry-form mha' %}
      <p>
        <span class="prefixed-input flex items-center {% if form.errors %}error{% endif %}">
          <label for="name" class="inline-block mb0 pl1 pr05">Email:</label>
          <input class="flex-grow" type="text" name="customer[email]" autocorrect="off" autocapitalize="off" value="">
        </span>
      </p>
      <p>
        <span class="prefixed-input flex items-center {% if form.errors %}error{% endif %}">
          <label for="name" class="inline-block mb0 pl1 pr05">Password:</label>
          <input class="flex-grow" type="password" name="customer[password]" value="">
        </span>
      </p>

      {% if form.errors %}
        {% for field in form.errors %}
          {% if field == 'form' %}
            <p class="p0 c3 align-c">{{ form.errors.messages[field] }}</p>
          {% else %}
            <p class="p0 c3 align-c">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="mt2">
        <button type="submit" class="button">Sign In</button>
      </div>
    {% endform %}

    <p class="mb0">
      <a class="link mt1 no-anchor" id="recovery_link" href="#recover">Forgot your password?</a>
    </p>
    <p>
      <span class="mt1">
        Don't have an account? <a class="block link" href="/account/register">Register now.</a>
      </span>
    </p>
  </div>

  <div id="recover" class="hide mha">
    <h2 class="h3 mb05">Forgot your password?</h2>
    <p>Enter your email and we will send you a password reset link.</p>

    <div class="inline-block">
      {% form 'recover_customer_password', class: 'account-entry-form mha' %}

        {% if form.posted_successfully? %}
          <span class="mb1 recovery-success">Success! Check your email for a link to reset your password.</span>
        {% else %}
          <p>
            <span class="prefixed-input flex items-center {% if form.errors %}error{% endif %}">
              <label for="name" class="inline-block mb0 pl1 pr05">Email:</label>
              <input class="flex-grow" type="text" name="email" autocorrect="off" autocapitalize="off">
            </span>
          </p>

          {% if form.errors %}
            {% for field in form.errors %}
              {% if field == 'form' %}
                <p class="p0 c3">{{ form.errors.messages[field] }}</p>
              {% else %}
                <p class="p0 c3">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}.</p>
              {% endif %}
            {% endfor %}
          {% endif %}

          <div class="mt2">
            <button type="submit" class="button">Reset Password</button>
          </div>
        {% endif %}

      {% endform %}
    </div>

    <a href="#0" class="link block mt1" id="cancel_recover">Cancel</a>
  </div>

</div>
