<!-- /templates/customers/recover_password.liquid -->

{% comment %}
    JS shows/hides this form in timber.loginForms()
{% endcomment %}
<div id="RecoverPasswordForm" style="display: none;">

    <h2>{{ 'customer.recover_password.title' | t }}</h2>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>

    <div class="form-vertical">
        {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
                Assign variable to be used after timber.init() is run in theme.liquid
            {% endcomment %}
            {% if form.posted_successfully? %}
                {% assign resetPassword = true %}
            {% endif %}

            <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

            <p>
                <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
            </p>
            <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
        {% endform %}
    </div>

</div>