<!-- /templates/customers/register.liquid -->

<div class="register container align-c">
    <h2 class="register__head head">{{ 'customer.register.title' | t }}</h2>

    <div class="register__holder align-l">
    {% form 'create_customer', class: 'register__form' %}

        <div class="row">
            <label class="label">{{ 'customer.register.first_name' | t }}</label>
            <input class="field" type="text" name="customer[first_name]" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
        </div>
        <div class="row">
            <label class="label">{{ 'customer.register.last_name' | t }}</label>
            <input class="field" type="text" name="customer[last_name]" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
        </div>
        <div class="row">
            <label class="label">{{ 'customer.register.email' | t }}</label>
            <input class="field" type="email" name="customer[email]" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
        </div>
        <div class="row">
            <label class="label">{{ 'customer.register.password' | t }}</label>
            <input class="field" type="password" name="customer[password]" placeholder="{{ 'customer.register.password' | t }}">
        </div>
        {% if form.errors %}
        <div class="row row--error">
            {{ form.errors | default_errors }}
        </div>
        {% endif %}
        <div class="row row--end">
            <input class="btn btn--full" type="submit" value="{{ 'customer.register.submit' | t }}">
        </div>

    {% endform %}
    </div>
    
    <span class="register__foot">
        {{ 'customer.register.already_registered' | t }} <a class="register__login-link link" href="/account/login">{{ 'customer.register.sign_in' | t }}</a>
    </span>
    <a class="register__cancel-link link" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
</div>
