<!-- /templates/customers/reset_password.liquid -->

<div class="container container--s align-c outer mv8">
    <h2 class="mb05">{{ 'customer.reset_password.title' | t }}</h2>
    <p class="mb1">{{ 'customer.reset_password.subtext' | t }}</p>

    <div class="align-l inline-block w12_s w1">
    {% form 'reset_customer_password', class: 'reset__form' %}

        {% if form.posted_successfully? %}
            <span class="block mb1">{{ 'customer.recover_password.success' | t }}</span>
        {% else %}
            <div class="mb1">
                <label>{{ 'customer.reset_password.password' | t }}</label>
                <input type="password" name="customer[password]" placeholder="{{ 'customer.reset_password.password' | t }}">
            </div>
            <div class="mb1">
                <label>{{ 'customer.reset_password.password_confirm' | t }}</label>
                <input type="password" name="customer[password_confirmation]" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
            </div>
            {% if form.errors %}
            <div class="mb1">
                {{ form.errors | default_errors }}
            </div>
            {% endif %}
            <div class="mt2">
                <input class="button" type="submit" value="{{ 'customer.reset_password.submit' | t }}">
            </div>
        {% endif %}
        
    {% endform %}
    </div>
</div>
