<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    <!-- Title and description ================================================== -->
    <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <!-- CSS ================================================== -->
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}
    <!-- {% include 'oldIE-js' %} -->

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}

    {% comment %}
        If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

</head>

{% comment %}
    Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    <!-- TO UNCOMMENT -->
    {% comment %}
    <div id="NavDrawer" class="drawer drawer--left">
        <div class="drawer__header">
            <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
            <div class="drawer__close js-drawer-close">
                <button type="button" class="icon-fallback-text">
                    <span class="icon icon-x" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
                </button>
            </div>
        </div>
        <ul class="mobile-nav">
            <li class="mobile-nav__item mobile-nav__search">
                {% include 'search-bar' %}
            </li>
            {% for link in linklists.main-menu.links %}
                {% comment %}
                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                    More info on dropdowns:
                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                {% endcomment %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                    <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
                        <div class="mobile-nav__has-sublist">
                            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
                            <div class="mobile-nav__toggle">
                                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                                    <span class="icon icon-plus" aria-hidden="true"></span>
                                    <span class="fallback-text">See More</span>
                                </button>
                                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                                    <span class="icon icon-minus" aria-hidden="true"></span>
                                    <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                                </button>
                            </div>
                        </div>
                        <ul class="mobile-nav__sublist">
                            {% for childlink in linklists[child_list_handle].links %}
                                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                                    <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
                        <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% comment %}
                If customer accounts are enabled, provide login and create account links
            {% endcomment %}
            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                    <li class="mobile-nav__item">
                        {% if customer.first_name != blank %}
                            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                        {% else %}
                            <a href="/account">{{ 'layout.customer.account' | t }}</a>
                        {% endif %}
                    </li>
                    <li class="mobile-nav__item">
                        {{ 'layout.customer.log_out' | t | customer_logout_link }}
                    </li>
                {% else %}
                    <li class="mobile-nav__item">
                        {{ 'layout.customer.log_in' | t | customer_login_link }}
                    </li>
                    <li class="mobile-nav__item">
                        {{ 'layout.customer.create_account' | t | customer_register_link }}
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div> 
    {% if settings.ajax_cart_method == "drawer" %}
        <div id="CartDrawer" class="drawer drawer--right">
            <div class="drawer__header">
                <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
                <div class="drawer__close js-drawer-close">
                    <button type="button" class="icon-fallback-text">
                        <span class="icon icon-x" aria-hidden="true"></span>
                        <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                    </button>
                </div>
            </div>
            <div id="CartContainer"></div>
        </div>
    {% endif %}
    {% endcomment %}
    <div class="content">
        <div class="wrapper">
            <header class="header">
                <div class="header__container">
                    {% comment %}
                        Use the uploaded logo from theme settings if enabled.
                    {% endcomment %}
                    {% if settings.logo_use_image %}
                        <a class="main-logo" href="#">
                            <img class="main-logo__img" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
                        </a>
                    {% else %}
                        <a class="main-logo" href="#">{{ shop.name }}</a>
                    {% endif %}
                    <button type="button" style="display:none;">
                        <span class="icon icon-hamburger"></span>
                        <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                    </button>
                    <a href="/cart">
                        <span class="icon-fallback-text" style="display:none;">
                            <span class="icon icon-cart"></span>
                            <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                        </span>
                    </a>
                    <nav class="main-nav">
                        {% comment %}
                            List out your main-menu linklist (default)

                            More info on linklists:
                                - http://docs.shopify.com/themes/liquid-variables/linklists
                        {% endcomment %}
                        <ul class="main-nav__list">
                            {% for link in linklists.main-menu.links %}
                                {% comment %}
                                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                                    More info on dropdowns:
                                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                                {% endcomment %}
                                {% assign child_list_handle = link.title | handleize %}
                                {% if linklists[child_list_handle].links != blank %}
                                    <li class="main-nav__item main-nav__item--has-sub {% if link.active %} main-nav__item--active {% endif %}">
                                        <a class="main-nav__link" href="{{ link.url }}">{{ link.title }} </a>
                                        <ul class="main-nav-sub__list">
                                            {% for childlink in linklists[child_list_handle].links %}
                                                <li class="main-nav-sub__item {% if childlink.active %} main-nav-sub__item--active {% endif %}">
                                                    <a class="main-nav-sub__link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="main-nav__item {% if link.active %} main-nav__item--active {% endif %}">
                                        <a class="main-nav__link" href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                    <nav class="user-nav">
                        <ul class="user-nav__list">
                            <li class="user-nav__item">
                            </li>
                            <li class="user-nav__item">
                                {% comment %}
                                    Show number of items in the cart and total cost in the /cart link

                                    Ajax Cart Notes:
                                        - #cartCount updates the total number of items in the cart
                                        - #cartCost updates the total cost of the cart
                                        - Documentation:    http://shopify.com/timber#ajax-cart
                                {% endcomment %}
                                <a href="/cart">
                                    {{ 'layout.cart.title' | t }}
                                    (
                                    <span>{{ cart.item_count }}</span>
                                    {{ 'layout.cart.items_count' | t: count: cart.item_count }}
                                    <span>{{ cart.total_price | money }}</span>
                                    )
                                </a>
                            </li>
                            <li class="user-nav__item">
                                {% comment %}
                                    If customer accounts are enabled, provide login and create account links
                                {% endcomment %}
                                {% if shop.customer_accounts_enabled %}
                                    {% if customer %}
                                        {% if customer.first_name != blank %}
                                            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                                            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                                        {% else %}
                                            <a href="/account">{{ 'layout.customer.account' | t }}</a>
                                        {% endif %}
                                        | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                                    {% else %}
                                        {{ 'layout.customer.log_in' | t | customer_login_link }}
                                        | {{ 'layout.customer.create_account' | t | customer_register_link }}
                                    {% endif %}
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
                {% include 'search-bar' %}
            </header>

            <main class="main" role="main">

                {% comment %}
                {{ content_for_layout }}
                {% endcomment %}

            </main>
        </div>
        <!-- begin site-footer -->
        <footer class="footer" role="contentinfo">
            <div>
                <div class="grid">
                    {% if settings.footer_social_enable %}
                        <div class="grid__item large--one-third medium--one-half">
                            <h3>{{ 'layout.footer.social_title' | t }}</h3>
                                <ul class="inline-list social-icons">
                                    {% if settings.social_twitter_link != blank %}
                                        <li>
                                            <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                                                <span class="icon icon-twitter" aria-hidden="true"></span>
                                                <span class="fallback-text">Twitter</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if settings.social_facebook_link != blank %}
                                        <li>
                                            <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                                                <span class="icon icon-facebook" aria-hidden="true"></span>
                                                <span class="fallback-text">Facebook</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                        </div>
                    {% endif %}
                    {% if settings.footer_newsletter_enable %}
                        <div class="grid__item large--one-third push--large--one-third medium--one-half">
                            {% comment %}
                                MailChimp is the go-to newsletter service for Shopify.
                                Use the link below to find your MailChimp form action
                                and insert it in your site settings.

                                If the form action URL is not set in the theme settings,
                                it will fallback to a customer form so you can still capture the email.

                                MailChimp newsletter integration and requirement:
                                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
                            {% endcomment %}
                            <h3>{{ 'layout.footer.newsletter_title' | t }}</h3>
                            {% if settings.newsletter_form_action != blank %}
                                <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                                    </span>
                                </form>
                            {% else %}
                                {% form 'customer' %}
                                    {{ form.errors | default_errors }}
                                    {% if form.posted_successfully? %}
                                        <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                                    {% else %}
                                        <div class="input-group">
                                            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                                            <input type="hidden" name="contact[tags]" value="newsletter">
                                            <span class="input-group-btn">
                                                <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endform %}
                            {% endif %}

                        </div>
                    {% endif %}
                    <div class="grid__item text-center">
                        {% comment %}
                            Loop through available payment methods and show their icons.
                        {% endcomment %}
                        {% unless shop.enabled_payment_types == empty %}
                            <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
                            <ul class="inline-list payment-icons">
                                {% for type in shop.enabled_payment_types %}
                                    <li>
                                        <span class="icon-fallback-text">
                                            <span class="icon icon-{{type}}" aria-hidden="true"></span>
                                            <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endunless %}
                    </div>
                </div>
            </div>
        </footer>
        <!-- //site-footer -->
    </div>

    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}

    {% comment %}
        Template-specific js
    {% endcomment %}
    <script>
        {% if resetPassword %}
            $(function() {
                timber.resetPasswordSuccess();
            });
        {% endif %}
    </script>

    {% comment %}
        Ajaxify your cart with this plugin.
        Documentation:
            - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% if settings.ajax_cart_method == "drawer" %}
        {{ 'handlebars.min.js' | asset_url | script_tag }}
        {% include 'ajax-cart-template' %}
        {{ 'ajax-cart.js' | asset_url | script_tag }}
        <script>
            jQuery(function($) {
                ajaxCart.init({
                    formSelector: '#AddToCartForm',
                    cartContainer: '#CartContainer',
                    addToCartSelector: '#AddToCart',
                    cartCountSelector: '#CartCount',
                    cartCostSelector: '#CartCost',
                    moneyFormat: {{ shop.money_format | json }}
                });
            });

            jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
                // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
                timber.RightDrawer.open();
            });
        </script>
    {% endif %}

</body>
</html>
