<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    <!-- Title and description ================================================== -->
    <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <!-- CSS ================================================== -->
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' | stylesheet_tag }}
    {{ 'style.scss.css' | asset_url | stylesheet_tag }}

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}
    <!-- {% include 'oldIE-js' %} -->

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}

    {% comment %}
        If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

</head>

{% comment %}
    Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    <!-- TO UNCOMMENT -->
    {% comment %}
    {% if settings.ajax_cart_method == "drawer" %}
        <div id="CartDrawer" class="drawer drawer--right">
            <div class="drawer__header">
                <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
                <div class="drawer__close js-drawer-close">
                    <button type="button" class="icon-fallback-text">
                        <span class="icon icon-x" aria-hidden="true"></span>
                        <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                    </button>
                </div>
            </div>
            <div id="CartContainer"></div>
        </div>
    {% endif %}
    {% endcomment %}
    <div class="content">
        <div class="wrapper">
            <header class="header">
                <div class="header__container">
                    {% comment %}
                        Use the uploaded logo from theme settings if enabled.
                    {% endcomment %}
                    {% if settings.logo_use_image %}
                        <a class="main-logo" href="#">
                            <img class="main-logo__img" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
                        </a>
                    {% else %}
                        <a class="main-logo" href="#">{{ shop.name }}</a>
                    {% endif %}
                    <nav class="main-nav">
                        {% comment %}
                            List out your main-menu linklist (default)

                            More info on linklists:
                                - http://docs.shopify.com/themes/liquid-variables/linklists
                        {% endcomment %}
                        <ul class="main-nav__list">
                            {% for link in linklists.main-menu.links %}
                                {% comment %}
                                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                                    More info on dropdowns:
                                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                                {% endcomment %}
                                {% assign child_list_handle = link.title | handleize %}
                                {% if linklists[child_list_handle].links != blank %}
                                    <li class="main-nav__item main-nav__item--has-sub {% if link.active %}main-nav__item--active{% endif %}">
                                        <a class="main-nav__link" href="{{ link.url }}">{{ link.title }} </a>
                                        <ul class="main-nav-sub__list">
                                            {% for childlink in linklists[child_list_handle].links %}
                                                <li class="main-nav-sub__item {% if childlink.active %}main-nav-sub__item--active{% endif %}">
                                                    <a class="main-nav-sub__link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="main-nav__item {% if link.active %}main-nav__item--active{% endif %}">
                                        <a class="main-nav__link" href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                    <a class="mobile-burger">
                        <i class="mobile-burger__icon"></i>
                    </a>
                    <nav class="user-nav">
                        <ul class="user-nav__list">
                            <li class="user-nav__item">
                                <a class="user-nav__link user-nav__link--search">{{ 'general.search.submit' | t }}</a>
                            </li>
                            <li class="user-nav__item {% if shop.customer_accounts_enabled %}user-nav__item--has-sub{% endif %}">
                                {% comment %}
                                    If customer accounts are enabled, provide login and create account links
                                {% endcomment %}
                                {% if shop.customer_accounts_enabled %}
                                    {% if customer %}
                                        <a class="user-nav__link">Your {{ 'layout.customer.account' | t }}</a>
                                        <ul class="user-nav-sub__list">
                                            <li class="user-nav-sub__item">
                                                <a class="user-nav-sub__link user-nav-sub__link--account" href="/account">Your {{ 'layout.customer.account' | t }}</a>
                                            </li>
                                            <li class="user-nav-sub__item">
                                                <a class="user-nav-sub__link user-nav-sub__link--logout" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <a class="user-nav__link user-nav__link--login" href="/account/login">{{ 'layout.customer.log_in' | t }}</a>
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li class="user-nav__item">
                                {% comment %}
                                    Show number of items in the cart and total cost in the /cart link

                                    Ajax Cart Notes:
                                        - #cartCount updates the total number of items in the cart
                                        - #cartCost updates the total cost of the cart
                                        - Documentation:    http://shopify.com/timber#ajax-cart
                                {% endcomment %}
                                <a class="user-nav__link user-nav__link--cart" href="/cart">
                                    {{ 'layout.cart.title' | t }} ({{ cart.item_count }})
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-cart" href="/cart">
                        <i class="mobile-cart__icon"></i>
                    </a>
                </div>
            </header>
            <aside class="main-drawer">
                {% include 'search-bar' %}
                <nav class="mobile-nav">
                    <ul class="mobile-nav__list">
                        {% for link in linklists.main-menu.links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if linklists[child_list_handle].links != blank %}
                                <li class="mobile-nav__item mobile-nav__item--has-sub {% if link.active %}mobile-nav__item--active{% endif %}">
                                    <a class="mobile-nav__link" href="{{ link.url }}">{{ link.title }} </a>
                                    <ul class="mobile-nav-sub__list">
                                        {% for childlink in linklists[child_list_handle].links %}
                                            <li class="mobile-nav-sub__item {% if childlink.active %}mobile-nav-sub__item--active{% endif %}">
                                                <a class="mobile-nav-sub__link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="mobile-nav__item {% if link.active %}mobile-nav__item--active{% endif %}">
                                    <a class="mobile-nav__link" href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if shop.customer_accounts_enabled %}
                            {% if customer %}
                                <li class="mobile-nav__item {% if link.active %}mobile-nav__item--active{% endif %}">
                                    <a class="mobile-nav__link mobile-nav__link--account" href="/account">Your {{ 'layout.customer.account' | t }}</a>
                                </li>
                                <li class="mobile-nav__item {% if link.active %}mobile-nav__item--active{% endif %}">
                                    <a class="user-nav__link mobile-nav__link--logout" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
                                </li>
                            {% else %}
                                <li class="mobile-nav__item {% if link.active %}mobile-nav__item--active{% endif %}">
                                    <a class="mobile-nav__link mobile-nav__link--login" href="/account/login">{{ 'layout.customer.log_in' | t }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </aside>

            <main class="main" role="main">

                {{ content_for_layout }}

            </main>
        </div>
        <footer class="footer">
            <div class="footer__container">
                <ul class="footer__list">
                    <li class="footer__item footer__item--logo">
                    {% if settings.logo_use_image %}
                        <a class="footer-logo" href="#">
                            <img class="footer-logo__img" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
                        </a>
                    {% else %}
                        <a class="footer-logo__link" href="#">{{ shop.name }}</a>
                    {% endif %}
                    </li>
                    <li class="footer__item footer__item-info">
                        <!-- TO EDIT -->
                        <ul class="footer-info__list">
                            <li class="footer-info__item">
                                <a class="footer-info__link" href="#">Contact Us</a>
                            </li>
                            <li class="footer-info__item">
                                <a class="footer-info__link" href="#">FAQ</a>
                            </li>
                            <li class="footer-info__item">
                                <a class="footer-info__link" href="#">Shipping & Returns</a>
                            </li>
                            <li class="footer-info__item">
                                <a class="footer-info__link" href="#">Press</a>
                            </li>
                        </ul>
                        <!-- END TO EDIT -->
                    </li>
                    {% if settings.footer_social_enable %}
                        <li class="footer__item footer__item--social">
                            <h5 class="footer-social__heading">{{ 'layout.footer.social_title' | t }}</h5>
                            <ul class="footer-social__list">
                                {% if settings.social_facebook_link != blank %}
                                    <li class="footer-social__item">
                                        <a class="footer-social__link footer-social__link--facebook" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook"></a>
                                    </li>
                                {% endif %}
                                {% if settings.social_twitter_link != blank %}
                                    <li class="footer-social__item">
                                        <a class="footer-social__link footer-social__link--twitter" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter"></a>
                                    </li>
                                {% endif %}
                                {% if settings.social_instagram_link != blank %}
                                    <li class="footer-social__item">
                                        <a class="footer-social__link footer-social__link--instagram" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram"></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if settings.footer_newsletter_enable %}
                        <li class="footer__item footer__item--newsletter">
                            {% comment %}
                                MailChimp is the go-to newsletter service for Shopify.
                                Use the link below to find your MailChimp form action
                                and insert it in your site settings.

                                If the form action URL is not set in the theme settings,
                                it will fallback to a customer form so you can still capture the email.

                                MailChimp newsletter integration and requirement:
                                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
                            {% endcomment %}
                            <h5 class="footer-newsletter__heading">{{ 'layout.footer.newsletter_title' | t }}</h5>
                            {% if settings.newsletter_form_action != blank %}
                                <form class="footer-newsletter__form" action="{{ settings.newsletter_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
                                    <div class="footer-newsletter__holder">
                                        <input class="footer-newsletter__field" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="email" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                                        <button class="footer-newsletter__btn" type="submit" name="subscribe">{% comment %}{{ 'general.newsletter_form.submit' | t }}{% endcomment %}</button>
                                    </div>
                                </form>
                            {% else %}
                                {% form 'customer', class: 'footer-newsletter__form' %}
                                    {{ form.errors | default_errors }}
                                    {% if form.posted_successfully? %}
                                        <p class="footer-newsletter__msg--valid">{{ 'general.newsletter_form.confirmation' | t }}</p>
                                    {% else %}
                                        <div class="footer-newsletter__holder">
                                            <input class="footer-newsletter__field" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                                            <input type="hidden" name="contact[tags]" value="newsletter">
                                            <button class="footer-newsletter__btn" type="submit" name="subscribe">{% comment %}{{ 'general.newsletter_form.submit' | t }}{% endcomment %}</button>
                                        </div>
                                    {% endif %}
                                {% endform %}
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
                <h6 class="footer-disclaimer">
                    <!-- TO EDIT -->
                    © 2016 Barrel Co. Ltd. All Rights Reserved. Terms and Conditions and Privacy Policy.
                    <!-- END TO EDIT -->
                </h6>
            </div>
        </footer>
    </div>

    {% comment %}
    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}
    {% endcomment %}

    {% comment %}
        Template-specific js
    {% endcomment %}
    {% comment %}
    <script>
        {% if resetPassword %}
            $(function() {
                timber.resetPasswordSuccess();
            });
        {% endif %}
    </script>
    {% endcomment %}

    {% comment %}
        Ajaxify your cart with this plugin.
        Documentation:
            - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% comment %}
    {% if settings.ajax_cart_method == "drawer" %}
        {{ 'handlebars.min.js' | asset_url | script_tag }}
        {% include 'ajax-cart-template' %}
        {{ 'ajax-cart.js' | asset_url | script_tag }}
        <script>
            jQuery(function($) {
                ajaxCart.init({
                    formSelector: '#AddToCartForm',
                    cartContainer: '#CartContainer',
                    addToCartSelector: '#AddToCart',
                    cartCountSelector: '#CartCount',
                    cartCostSelector: '#CartCost',
                    moneyFormat: {{ shop.money_format | json }}
                });
            });

            jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
                // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
                timber.RightDrawer.open();
            });
        </script>
    {% endif %}
    {% endcomment %}

</body>
</html>
